<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="hourCitySettings" type="System.Configuration.DictionarySectionHandler" />
		<section name="hourStationSettings" type="System.Configuration.DictionarySectionHandler" />
		<section name="dayCitySettings" type="System.Configuration.DictionarySectionHandler" />
		<section name="dayStationSettings" type="System.Configuration.DictionarySectionHandler" />
	</configSections>
	<!--城市小时表对应关系-->
	<hourCitySettings>
		<add key="MONITORTIME" value="MONITOR_TIME" />
		<add key="CITYCODE" value="CITY_CODE" />
		<add key="SO2_1H" value="SO2" />
		<add key="SO2_1H_IAQI" value="SO2_IAQI" />
		<add key="NO2_1H" value="NO2" />
		<add key="NO2_1H_IAQI" value="NO2_IAQI" />
		<add key="PM10_1H" value="PM10" />
		<add key="PM10_1H_IAQI" value="PM10_IAQI" />
		<add key="CO_1H" value="CO" />
		<add key="CO_1H_IAQI" value="CO_IAQI" />
		<add key="O3_1H_MAX" value="O3_MAX" />
		<add key="O3_1H_MAX_IAQI" value="O3_MAX_IAQI" />
		<add key="PM25_1H" value="PM25" />
		<add key="PM25_1H_IAQI" value="PM25_IAQI" />
		<add key="AQI" value="AQI" />
		<add key="PRIMARY_POLLUTANT" value="PRIMARY_POLLUTANT" />
		<add key="AQI_LEVEL" value="AQI_LEVEL" />
		<add key="MEASURE" value="" />
	</hourCitySettings>
	<!--站点小时表对应关系-->
	<hourStationSettings>
		<add key="MONITORTIME" value="MONITOR_TIME" />
		<add key="CITYCODE" value="CITY_CODE" />
		<add key="STATIONCODE" value="SITE_CODE" />
		<add key="SO2_1H" value="SO2" />
		<add key="SO2_1H_IAQI" value="SO2_IAQI" />
		<add key="NO2_1H" value="NO2" />
		<add key="NO2_1H_IAQI" value="NO2_IAQI" />
		<add key="PM10_1H" value="PM10" />
		<add key="PM10_1H_IAQI" value="PM10_IAQI" />
		<add key="CO_1H" value="CO" />
		<add key="CO_1H_IAQI" value="CO_IAQI" />
		<add key="O3_1H_MAX" value="O3_MAX" />
		<add key="O3_1H_MAX_IAQI" value="O3_MAX_IAQI" />
		<add key="PM25_1H" value="PM25" />
		<add key="PM25_1H_IAQI" value="PM25_IAQI" />
		<add key="AQI" value="AQI" />
		<add key="PRIMARY_POLLUTANT" value="PRIMARY_POLLUTANT" />
		<add key="AQI_LEVEL" value="AQI_LEVEL" />
		<add key="MEASURE" value="" />
	</hourStationSettings>
	<!--城市日均表对应关系-->
	<dayCitySettings>
		<add key="MONITORTIME" value="MONITOR_TIME" />
		<add key="CITYCODE" value="CITY_CODE" />
		<add key="SO2_24H" value="SO2" />
		<add key="SO2_24H_IAQI" value="SO2_IAQI" />
		<add key="NO2_24H" value="NO2" />
		<add key="NO2_24H_IAQI" value="NO2_IAQI" />
		<add key="PM10_24H" value="PM10" />
		<add key="PM10_24H_IAQI" value="PM10_IAQI" />
		<add key="CO_24H" value="CO" />
		<add key="CO_24H_IAQI" value="CO_IAQI" />
		<add key="O3_8H_MAX" value="O3_MAX" />
		<add key="O3_8H_MAX_IAQI" value="O3_MAX_IAQI" />
		<add key="PM25_24H" value="PM25" />
		<add key="PM25_24H_IAQI" value="PM25_IAQI" />
		<add key="AQI" value="AQI" />
		<add key="PRIMARY_POLLUTANT" value="PRIMARY_POLLUTANT" />
		<add key="AQI_LEVEL" value="AQI_LEVEL" />
		<add key="MEASURE" value="" />
	</dayCitySettings>
	<!--站点日均表对应关系-->
	<dayStationSettings>
		<add key="MONITORTIME" value="MONITOR_TIME" />
		<add key="CITYCODE" value="CITY_CODE" />
		<add key="STATIONCODE" value="SITE_CODE" />
		<add key="SO2_24H" value="SO2" />
		<add key="SO2_24H_IAQI" value="SO2_IAQI" />
		<add key="NO2_24H" value="NO2" />
		<add key="NO2_24H_IAQI" value="NO2_IAQI" />
		<add key="PM10_24H" value="PM10" />
		<add key="PM10_24H_IAQI" value="PM10_IAQI" />
		<add key="CO_24H" value="CO" />
		<add key="CO_24H_IAQI" value="CO_IAQI" />
		<add key="O3_8H_MAX" value="O3_MAX" />
		<add key="O3_8H_MAX_IAQI" value="O3_MAX_IAQI" />
		<add key="PM25_24H" value="PM25" />
		<add key="PM25_24H_IAQI" value="PM25_IAQI" />
		<add key="AQI" value="AQI" />
		<add key="PRIMARY_POLLUTANT" value="PRIMARY_POLLUTANT" />
		<add key="AQI_LEVEL" value="AQI_LEVEL" />
		<add key="MEASURE" value="" />
	</dayStationSettings>
	<appSettings>
		<!--数据库文件名称-->
		<add key="configDataBaseName" value="monitorDataBase.sqlite" />
		<!--国家空气检测总站上的silverlight文件的绝对地址-->
		<add key="dataUrl" value="http://106.37.208.233:20035/ClientBin/cnemc.xap" />
		<!--小时城市-->
		<add key="hourCity" value="T_AIR_CITY_HOUR_QUALITY" />
		<!--小时站点-->
		<add key="hourStation" value="T_AIR_SITE_HOUR_QUALITY" />
		<!--日均城市-->
		<add key="dayCity" value="T_AIR_CITY_DAY_QUALITY" />
		<!--日均站点-->
		<add key="dayStation" value="T_AIR_SITE_DAY_QUALITY" />
		<!--无效数据值-->
		<add key="noDataValue" value="-1" />
		<!--aqi等级格式，int 代表 转换成数字，其他为汉字-->
		<add key="aqiLevelFormat" value="int" />
		
		<!--国家区域预报服务地址-->
		<add key="areaPredictionUrl" value="http://106.37.208.228:8082/AreaForecast/ChangeArea" />
		<!--国家省域预报服务地址-->
		<add key="provincePredictionUrl" value="http://106.37.208.228:8082/ProvinceForecast/GetGlobalInfo" />
		<!--国家城市预报服务地址-->
		<add key="cityPredictionUrl" value="http://106.37.208.228:8082/Home/Default" />

		<!--国家区域预报表-->
		<add key="areaPredictionTable" value="T_AIR_PREDICT_REGION_WARN_TIPS" />
		<!--国家省域预报表-->
		<add key="provincePredictionTable" value="T_AIR_PREDICT_PROVINCE" />
		<!--国家城市预报表-->
		<add key="cityPredictionTable" value="T_AIR_PREDICT_CITY" />

		<!--气象实时服务地址-->
		<add key="weatherServerUrl" value="http://www.nmc.cn/f/rest/real/24hour/" />
		<add key="weatherHourTable" value="T_AIR_SITE_HOUR_METEOROLOGY" />
	</appSettings>
	<system.data>
		<DbProviderFactories>
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=8.0.21.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
			<add name="PostgreSQL Data Provider Data Provider" invariant="PostgreSQL" description=".Net Framework Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Version=2.0.14.3, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
			<add name="SqlClient Data Provider" invariant="System.Data.SqlClient" description=".Net Framework Data Provider for SqlServer" type="System.Data.SqlClient.SqlClientFactory, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.58.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
			<add description="DM .Net Framework Data Provider" invariant="Dm" name="DM Data Provider" type="Dm.DmClientFactory, DmProvider, Version=1.1.0.0, Culture=neutral, PublicKeyToken=7a2d44aa446c6d01" />
			<remove invariant="System.Data.SQLite.EF6" />
			<add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
			<remove invariant="System.Data.SQLite" />
			<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
		</DbProviderFactories>
	</system.data>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.82.0" newVersion="1.0.82.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>
